@import './prism.css';

body {
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}
* {
    box-sizing: border-box;
}

.hero {
    align-items: center;
    background: #2e2b74;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem 3rem 1rem;
}
.hero__heading {
    text-align: center;
    font-size: 2rem;
}
.container {
    margin: 0 auto;
    max-width: 64rem;
    padding: 0 1rem;
}
.content {
    display: flex;
}
.main {
    flex: 1;
}
.sidebar {
    margin-left: 1rem;
    width: 16rem;
}

/* Header */
.header {
    background: #2e2b74;
    color: #fff;
    padding: 0.25rem 0;
}
.header__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header__logo {
    text-decoration: none;
}
.header__links {
    align-items: center;
    display: flex;
}
.header__link {
    align-items: center;
    color: #fff;
    display: flex;
    margin-left: 1.5rem;
    text-decoration: none; 
}
.header__link-icon {
    margin-right: 0.25rem;
}
.header__link-label {
    display: none;
}

/* Footer */
.footer {
    margin: 4rem auto 6rem auto;
}
.footer__copyright {
    align-items: center;
    border-bottom: 1px solid #D1D5DB;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
}
.footer__links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer__link,
.footer__link--dot {
    color: #9CA3AF;
    margin: 0.125rem 0;
    text-decoration: none;
}
.footer__link--dot:not(:last-child):after {
    color: #9CA3AF;
    display: inline-flex;
    content: " • ";
    margin: 0 0.5rem;
}

/* Sidebar */
.sidebar__inner {
    position: sticky;
    top: 1rem;
}
.sidebar__card {
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 0.5rem;
    margin: 1rem 0;
    overflow: hidden;
}
.sidebar__card a {
    text-decoration: none;
}
.sidebar__card-logo {
    height: auto;
    width: 100%;
}
.sidebar__card-desc {
    padding: 0.5rem;
    text-align: center;
}

/* Home page */
.home__placeholder-title {
    color: #2e2b74;
}
.home__placeholder-content {
    margin: 1rem 0;
}
.home__placeholder-content--tip {
    color: #2563EB;
}
.home__placeholder-content--trick {
    color: #DC2626;
}

/* Post page */
.post__index {
    font-size: 3rem;
    font-weight: 500;
    margin: 1rem;
    text-align: center;
}
.post__content {
    background: #fff;
    border: 1px solid #D1D5DB;
    line-height: 1.5;
    margin: 3rem 0;
    padding: 1rem;
    position: relative;
}
.post__content:after,
.post__content:before {
    border: 1px solid #E5E7EB;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.post__title {
    border-bottom: 1px solid #D1D5DB;
    font-size: 3rem;
    font-weight: 500;
    margin: 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.post__topics {
    font-style: italic;
    margin: 1rem 0;
}

/* Content generated by markdown */
.post__content a {
    text-decoration: none;
}
.post__content a:hover {
    text-decoration: underline;
}
.post__content code:not([class*="language-"]) {
    background: #FEF3C7;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1rem;
}
.post__content img,
.post__content video {
    height: auto;
    max-width: 100%;
    padding: 0.5rem;
}
.post__content input {
    border: 1px solid #D1D5DB;
    height: 2rem;
}
.post__content ol, 
.post__content ul {
    margin: 0 0 0 1rem;
    padding: 0;
}
.post__content table {
    border-collapse: collapse;
    border-bottom: 1px solid #D1D5DB;
    width: 100%;
}
.post__content th {
    text-align: left;
}
.post__content td,
.post__content th {
    padding: 0.5rem;
}
.post__content tr {
    border-top: 1px solid #D1D5DB;
}

.post__next {
    margin: 1.5rem 0;
    text-align: right;
}
.post__prev {
    margin: 1.5rem 0;
    text-align: left;
}
.post__next a,
.post__prev a {
    text-decoration: none;
}
.post__next a:hover,
.post__prev a:hover {
    text-decoration: underline;
}

.post__category {
    border-color: transparent;
    border-style: solid;
    border-width: 0px 4rem 4rem 0px;
    color: #fff;
    height: 4rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
}
.post__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 3rem;
    transform: rotate(45deg) translate(25%, -35%);
    width: 3rem;
}
.post__category--tip {
    border-right-color: #2563EB;
}
.post__category--trick {
    border-right-color: #DC2626;
}
.post__category--practice {
    border-right-color: #059669;
}

.post__edit {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    text-decoration: none;
}
.post__edit:hover {
    text-decoration: underline;
}
.post__edit svg {
    margin-right: 0.25rem;
}

.post__callout {
    border: 2px solid #60A5FA;
    margin: 1rem 0;
    padding: 0.5rem;
}

/* Collection */
.collection__item {
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    display: flex;
    padding: 1rem 0;
}
.collection__number {
    align-items: center;
    border-radius: 50%;
    color: #fff;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    margin-right: 1rem;
    width: 2.5rem;
}
.collection__number--tip {
    background: #2563EB;
}
.collection__number--trick {
    background: #DC2626;
}
.collection__number--practice {
    background: #059669;
}
.collection__content {
    flex: 1;
}
.collection__link {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    text-decoration: none;
}
.collection__link:hover {
    text-decoration: underline;
}
.collection__topics {
    font-size: 0.75rem;
    font-style: italic;
}
.collection__category {
    height: 1.5rem;
    margin-left: auto;
    width: 1.5rem;
}
.collection__category--tip {
    background: url(/img/tip.svg) no-repeat center center;
}
.collection__category--trick {
    background: url(/img/trick.svg) no-repeat center center;
}
.collection__category--practice {
    background: url(/img/practice.svg) no-repeat center center;
}

/* Responsive */
@media (min-width: 640px) {
    .header__link-label {
        display: inline-block;
    }
}
@media (min-width: 1280px) {
    .post__content:after {
        content: '';
        overflow: hidden;
        transform: rotate(-2deg);
        z-index: -2;
    }
    .post__content:before {
        background: #eee;
        content: '';
        overflow: hidden;
        transform: rotate(-4deg);
        z-index: -1;
    }
}