---
title: Collection of tips, tricks and best practices
layout: layouts/page.njk
---

<div class="container">
    <div class="content">
        <div class="main">
            {%- for post in collections.posts | reverse %}
            <div class="collection__item">
                <div class="collection__number collection__number--{{ post.data.category }}">{{ (post.data.index + 1) | prefixZeros(collections.posts.length) }}</div>
                <div class="collection__content">
                    <a class="collection__link" href="{{ post.url | url }}">{{ post.data.title }}</a>
                    <div class="collection__topics">{{ post.data.topics }}</div>
                </div>
                <div class="collection__category collection__category--{{ post.data.category }}"></div>
            </div>
            {%- endfor %}
        </div>

        <div class="sidebar">
            <div class="sidebar__inner">
                {% include "_sidebar.njk" %}
            </div>
        </div>
    </div>
</div>