---
title: Super tiny, quick tips, tricks and best practices of front-end development
layout: layouts/base.njk
---

<div class="home">
    <h1 class="home__heading">Tips, tricks and best practices<br />of front-end development</h1>

    {% set lastPost = collections.posts[0] %}
    <div class="post">
        <div class="post__content">
            <h1 class="post__title">
                {{ lastPost.data.title }}
            </h1>
            {{ lastPost.templateContent | safe }}
        </div>
    </div>

    {% if lastPost.data.nextPost %}
    <div class="post__next">
        &rarr; <a class="next" href="{{ lastPost.data.nextPost.url }}">{{ lastPost.data.nextPost.data.title }}</a>
    </div>
    {% endif %}
</div>
