---
title: Super tiny, quick tips, tricks and best practices of front-end development
layout: layouts/base.njk
---

<div class="hero">
    <h1 class="hero__heading">
        Tiny tips, tricks & best practices<br>
        for front-end development
    </h1>
</div>

<div class="container">
    {% set lastPost = collections.posts[collections.posts.length - 1] %}
    <div class="post__prev">
        ← #{{ collections.posts.length }} <a href="{{ lastPost.url }}">{{ lastPost.data.title }}</a>
    </div>

    <div class="post">
        <div class="post__content">
            <h1 class="post__title home__placeholder-title">
                <placeholder-lines size="2" />
            </h1>
            <div class="post__category post__category--tip">
                <div class="post__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M13.514 23.5L10.514 23.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M14.514 21.5L9.514 21.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M12.014 0.5L12.014 3.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M3.528 4.015L5.65 6.136" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M20.499 4.015L18.378 6.136" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M0.514 12.5L3.514 12.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M23.514 12.5L20.514 12.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M18.014,12.5a6,6,0,1,0-9.429,4.917,1,1,0,0,1,.429.821V19a.5.5,0,0,0,.5.5h5a.5.5,0,0,0,.5-.5v-.763a1,1,0,0,1,.429-.821A5.98,5.98,0,0,0,18.014,12.5Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
            </div>
            <div class="home__placeholder-content home__placeholder-content--tip">
                <placeholder-lines size="10" />
            </div>
            <div class="home__placeholder-content home__placeholder-content--trick">
                <placeholder-lines size="10" />
            </div>
        </div>
    </div>

    <div class="post__next">
        #{{ collections.posts.length }} <a href="{{ lastPost.url }}">{{ lastPost.data.title }}</a> →
    </div>
</div>
