.block-home__hero {
    text-align: center;
}
.block-home__heading {
    background: linear-gradient(102.66deg, #0465eb, #6ccef8);
    font-size: 3rem;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block-home__post {
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 0.25rem;
    color: #333;
    display: flex;
    margin: 1rem 0;
    padding: 0.25rem 1rem;
    overflow: hidden;

    &:hover {
        background: #e5e5e5;
    }
}

.block-home__image {
    margin-right: 1rem;
}

.block-home__title {
    align-items: center;
    display: flex;
    flex: 1;
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.block-home__topics {
    font-size: 0.75rem;
    font-style: italic;
}
