<div class="sidebar__card">
    <a href="https://blur.page">
        <img class="sidebar__card-logo" src="/img/blur-page.png" alt="Blur Page - A browser extension to hide sensitive information on a web page" />
        <div class="sidebar__card-desc">
            A browser extension to hide sensitive information on a web page
        </div>
    </a>
</div>

<div class="sidebar__card">
    <a href="https://formvalidation.io">
        <img class="sidebar__card-logo" src="/img/form-validation.png" alt="Form Validation - The best validation library for JavaScript" />
        <div class="sidebar__card-desc">
            The best validation library for JavaScript
        </div>
    </a>
</div>

<div class="sidebar__card">
    <a href="https://react-pdf-viewer.dev">
        <img class="sidebar__card-logo" src="/img/react-pdf-viewer.png" alt="React PDF Viewer - A React component to view a PDF document" />
        <div class="sidebar__card-desc">
            A React component to view a PDF document
        </div>
    </a>
</div>

<div class="sidebar__card">
    <a href="https://1loc.dev">
        <img class="sidebar__card-logo" src="/img/1-loc.png" alt="1 LOC - Favorite JavaScript utilities in single line of code" />
        <div class="sidebar__card-desc">
            Favorite JavaScript utilities in single line of code
        </div>
    </a>
</div>

<div class="sidebar__card">
    <a href="https://csslayout.io">
        <img class="sidebar__card-logo" src="/img/css-layout.png" alt="CSS Layout - A collection of popular layouts and patterns made with CSS" />
        <div class="sidebar__card-desc">
            A collection of popular layouts and patterns made with CSS
        </div>
    </a>
</div>

<div class="sidebar__card">
    <a href="https://thisthat.dev">
        <img class="sidebar__card-logo" src="/img/this-vs-that.png" alt="this VS that - The differences between _ and _ in the front-end development" />
        <div class="sidebar__card-desc">
            The differences between _ and _ in the front-end development
        </div>
    </a>
</div>