---
layout: layouts/base.njk
permalink: "/{{ page.fileSlug }}.html"
---

{{ content | safe }}

<div class="message">
    <div class="message__code">20frontendtips</div>
    <div class="message__content">
        20% discount of <a class="message__link" href="https://formvalidation.io" target="_blank" title="The best validation library for JavaScript">Form Validation</a>
    </div>
</div>