---
layout: layouts/base.njk
permalink: "/{{ page.fileSlug }}.html"
---

<header>
    <a href="/">Tips</a>
</header>

{% if prevPost %}
<div class="post__prev">
    &larr; <a class="next" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
</div>
{% endif %}

<div class="post__index">#{{ index + 1 }}</div>

<div class="post__content">
    <h1 class="post__title">{{ title }}</h1>
    {{ content | safe }}
</div>

{% if nextPost %}
<div class="post__next">
    &rarr; <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
</div>
{% endif %}
